*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins;
    background:#f5f3ef;
    padding:30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:40px;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

li{
    cursor:pointer;
}

.active{
    color:green;
}

.icons{
    display:flex;
    gap:20px;
    font-size:25px;
}

.main{
    display:flex;
    margin-top:40px;
    gap:40px;
}

.left{
    width:30%;
}

.new{
    color:green;
    margin-bottom:20px;
}

.left h1{
    font-size:70px;
    margin-bottom:20px;
}

.text{
    color:gray;
    margin-bottom:25px;
}

.colors{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.green,
.white,
.pink{
    width:30px;
    height:30px;
    border-radius:50%;
}

.green{
    background:#7f8b63;
}

.white{
    background:#ddd;
}

.pink{
    background:pink;
}

.center{
    position:relative;
}

.center img{
    width:600px;
    border-radius:20px;
}

button{
    position:absolute;
    bottom:20px;
    right:20px;
    padding:20px;
    border:none;
    border-radius:50px;
    background:#7f8b63;
    color:white;
    cursor:pointer;
}

.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.right img{
    width:100px;
    border-radius:10px;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins;
    background:#f5f3ef;
    padding:30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:40px;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

li{
    cursor:pointer;
}

.active{
    color:green;
}

.icons{
    display:flex;
    gap:20px;
    font-size:25px;
}

.main{
    display:flex;
    margin-top:40px;
    gap:40px;
}

.left{
    width:30%;
}

.new{
    color:green;
    margin-bottom:20px;
}

.left h1{
    font-size:70px;
    margin-bottom:20px;
}

.text{
    color:gray;
    margin-bottom:25px;
}

.colors{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.green,
.white,
.pink{
    width:30px;
    height:30px;
    border-radius:50%;
}

.green{
    background:#7f8b63;
}

.white{
    background:#ddd;
}

.pink{
    background:pink;
}

.center{
    position:relative;
}

.center img{
    width:600px;
    border-radius:20px;
}

button{
    position:absolute;
    bottom:20px;
    right:20px;
    padding:20px;
    border:none;
    border-radius:50px;
    background:#7f8b63;
    color:white;
    cursor:pointer;
}

.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.right img{
    width:100px;
    border-radius:10px;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins;
    background:#f5f3ef;
    padding:30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:40px;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

li{
    cursor:pointer;
}

.active{
    color:green;
}

.icons{
    display:flex;
    gap:20px;
    font-size:25px;
}

.main{
    display:flex;
    margin-top:40px;
    gap:40px;
}

.left{
    width:30%;
}

.new{
    color:green;
    margin-bottom:20px;
}

.left h1{
    font-size:70px;
    margin-bottom:20px;
}

.text{
    color:gray;
    margin-bottom:25px;
}

.colors{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.green,
.white,
.pink{
    width:30px;
    height:30px;
    border-radius:50%;
}

.green{
    background:#7f8b63;
}

.white{
    background:#ddd;
}

.pink{
    background:pink;
}

.center{
    position:relative;
}

.center img{
    width:600px;
    border-radius:20px;
}

button{
    position:absolute;
    bottom:20px;
    right:20px;
    padding:20px;
    border:none;
    border-radius:50px;
    background:#7f8b63;
    color:white;
    cursor:pointer;
}

.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.right img{
    width:100px;
    border-radius:10px;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins;
    background:#f5f3ef;
    padding:30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:40px;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

li{
    cursor:pointer;
}

.active{
    color:green;
}

.icons{
    display:flex;
    gap:20px;
    font-size:25px;
}

.main{
    display:flex;
    margin-top:40px;
    gap:40px;
}

.left{
    width:30%;
}

.new{
    color:green;
    margin-bottom:20px;
}

.left h1{
    font-size:70px;
    margin-bottom:20px;
}

.text{
    color:gray;
    margin-bottom:25px;
}

.colors{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.green,
.white,
.pink{
    width:30px;
    height:30px;
    border-radius:50%;
}

.green{
    background:#7f8b63;
}

.white{
    background:#ddd;
}

.pink{
    background:pink;
}

.center{
    position:relative;
}

.center img{
    width:600px;
    border-radius:20px;
}

button{
    position:absolute;
    bottom:20px;
    right:20px;
    padding:20px;
    border:none;
    border-radius:50px;
    background:#7f8b63;
    color:white;
    cursor:pointer;
}

.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.right img{
    width:100px;
    border-radius:10px;
}